<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="!isLoggedIn">
      <h1>Login</h1>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" name="name">
        </div>
        <div class="form-group">
          <label for="room">Room</label>
          <input type="text" class="form-control" [(ngModel)]="room" name="room">
        </div>
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
      </form>
    </div>
    <div class="col-12">
      <h1>Private messages</h1>
      <form>
        <div class="form-group">
          <label>Private message</label>
          <input type="text" class="form-control" [(ngModel)]="privateMessage" name="privateMessage" #private>
        </div>
        <button type="button" class="btn btn-success" (click)="sendPrivateMessage()">Send private message</button>
      </form>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let privateMsg of privateMessages;">{{privateMsg}}</li>
        </ul>
      </div>
    </div>
    <div class="col-12">
      <h1>General messages</h1>
      <form>
        <div class="form-group">
          <label>General message</label>
          <input type="text" class="form-control" [(ngModel)]="generalMessage" name="generalMessage" #general>
        </div>
        <button type="button" class="btn btn-success" (click)="sendGeneralMessage()">Send general message</button>
      </form>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let generalMsg of generalMessages;">{{generalMsg}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>